

* {
  margin: 0;
  box-sizing: border-box;
  font-family: nyt-franklin;
}

body {
  height: 100vh;
}

nav {
  button {
    background-color: #557a95;
    color: #ffffff;
    display: inline-block;
    font-family: nyt-franklin;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.55px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
  }
}

main {
  .head {
    margin-top: 58px;

    h1 {
      color: #121212;
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      display: inline;
      font-style: italic;
     

    }
  }

  .svg {
    margin-top: 20px;
    ul {
      li {
        list-style: none;
        margin: 5px;
      }
    }
  }
  figure {
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 16px;
    text-align: center;

    figcaption {
      color: #666666;
      font-size: small;
      padding: 5px 3em;
    }
  }
 
  .paragraph {
    padding-right:5vw;
    padding-left: 25vw;
    .sign{
        
        white-space: nowrap;
        text-align: center;
    
  }
    span {
      display: inline;
      font-family: nyt-franklin;
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
      margin: 7px 0px;
    }
    p {
      color: #333333;
      font-family: nyt-imperial;
      font-size: 24px;
      line-height: 30px;
      
    }
 
    .picture{
      span{
        padding-left: 10px;
        font-size: small;
      }
    }
    .comments{
      button{
        background-color: #557a95;
        color: #ffffff;
        display: inline-block;
        font-family: nyt-franklin;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 0.55px;
        line-height: 11px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  .theory{
   p{
     font-size: smaller;
   
   }
  }
 .second-paragraph{


  .css-1u3pw94{
    margin-left: auto;
    margin-right: auto;
    padding-right: 90px;
    width: 700px;
    height: 319px;
    iframe{
      width: 100%;
      height: 100%;
    }
   }
  }
}



footer {

}